/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem;
}

.logo{
  display: flex;
  align-items: center;
}

nav span{
  margin-left: 1rem;
}

#main-banner{
  display: flex;
  background-color: grey;
}

#main-banner .description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.left-right, .banner{
  display: flex;
  align-items: center;
}

.highlight{
  width: 60%;
  padding: 2rem 1.5rem;
}

.left-right{
  align-items: flex-start;
}


.highlight img{
  width: 100%;
  height: auto;
  overflow: hidden;
}



.highlight img, .highlight video{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sidebar{
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0;
}

.sidebar-item{
  display: flex;
  align-items: center;
}

.sidebar-item img{
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.sidebar-item .description{
  width: 65%;
  display: flex;
  flex-direction: column;

}
.button{
  padding: 8px 0;
  align-self: center;
}

#curriculum{
  padding: 2rem 3.5rem;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.course-type{
  width: 30%;
  padding: 1rem;
}

.course-type img{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course-type .description{
  max-width: 100%;
  padding: 1rem;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

h1, h2, h3{
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 2rem;
}
