/* Font imports*/
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https: //fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https: //fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https: //fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https: //fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https: //fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}/*Styling*/
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 0.3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  text-transform: uppercase;
}

.logo em {
  color: hsl(35, 83%, 50%);
  font-weight: bold;
}

nav {
  margin-right: 3rem;
}

nav span {
  margin-left: 1rem;
}

span a {
  text-decoration: none;
  color: black;
  transition: color 100ms linear;
}

span a:hover {
  color: hsla(199, 94%, 47%, 1);
}

.responsive{
  display: none;
}

.responsive img:active{
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 600px){
  .large-screen{
    display: none;
  }
  .responsive{
    display: flex;
    justify-content: space-around;
  }
}
/*End (Header)*/

/*Main Body Classes*/

/*Text Sizing*/
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  /*Banner*/
  font-size: 2rem;
  margin-bottom: 2rem;
}
h2 {
  /*Highlights-description*/
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem;
  text-align: center;
}
h3 {
  /*Banner-description, Sidebar-Items-title, Courses-title*/
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
h4 {
  /*Courses-COURSES*/
  text-transform: uppercase;
  color: hsla(0, 0%, 83%, 1);
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

/*Body components*/
.left-right{
  display: flex;
  align-items: flex-start;
}

.highlight {
  width: 60%;
  padding: 2rem 1.5rem;
}

.highlight img, .highlight video {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 300ms ease;
}

.sidebar-item:hover {
  background-color: hsl(42, 100%, 57%);
}

.sidebar-item img {
  width: 35%;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  border-radius: 20px;
}

.sidebar-item .description {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: hsl(226, 100%, 54%);
  text-decoration: none;
}

.sidebar a:hover {
  color: hsl(193, 94%, 47%);
}

/*Common Body Styling (End)*/


#main-banner {
  padding-top: 4rem;
  display: flex;
  background-color: hsl(25, 100%, 60%);
}

#main-banner.left-right{
  align-items: center;
}

#main-banner .description {
  width: 40%;
}

.button {
  padding: 1rem 0;
  margin-right: 1.5rem;
  text-align: center;
  border-radius: 5px;
  background-color: hsl(199, 94%, 47%);
  align-self: center;
  transition: background-color 200ms linear;
}

.button span {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: hsl(226, 100%, 54%);
}

@media only screen and (max-width: 650px){
  #main-banner.left-right{
    flex-direction: column;
  }

  #main-banner .highlight, #main-banner .description{
    padding: 0;
    width: 100%;
  }

  #main-banner .description{
    width: auto;
    margin: 2rem 1rem;
  }

  #main-banner img{
    border-radius: 0;
  }

  .button{
    margin: 0;
    border-radius: 0;
  }
}

/*Curriculum*/

#curriculum {
  padding: 2rem 3.5rem;
  background-color: hsl(25, 100%, 60%);
}



.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
}

.course-type {
  width: 30%;
  margin: 1rem;
  background-color: white;
  border: 0 0 10px 1px black;
  border-radius: 5px;
  transition: box-shadow 200ms ease-in;
}

.course-type:hover {
  box-shadow: 0 0 0.4rem;
}

.course-type img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.course-type .description {
  max-width: 100%;
  padding: 1rem;
}

.course-type p {
  color: hsla(0, 0%, 83%, 1);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.info {
  width: 12.5%;
  display: flex;
  justify-content: space-between;
}


#information h2 {
  text-align: left;
}

#exhibit h2 {
  padding: 2rem 1rem 0;
}


#main-banner h3 {
  margin-bottom: 1.5rem;
}

#exhibit h3 {
  margin-top: 1.5rem;
}
#information p:last-child {
  margin-top: 1.5rem;
}
